<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567196203385-jqv4opos83vrmj7mq2ln90po7gtfucjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567196203385-jqv4opos83vrmj7mq2ln90po7gtfucjj</string>
	<key>API_KEY</key>
	<string>AIzaSyAbz-9LwmCL-xMTjo3MHRkQDlqB8OtnPg4</string>
	<key>GCM_SENDER_ID</key>
	<string>567196203385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.las.LASDictionaryV4</string>
	<key>PROJECT_ID</key>
	<string>lasdictioanryv4</string>
	<key>STORAGE_BUCKET</key>
	<string>lasdictioanryv4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567196203385:ios:51be4415f71c899a</string>
	<key>DATABASE_URL</key>
	<string>https://lasdictioanryv4.firebaseio.com</string>
</dict>
</plist>